<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sccbv.system.rolespermissions.RolesPermissionsMapper">

    <select id="byRoleId" resultType="com.sccbv.system.permission.Permission">
      SELECT sp.id, sp.code, sp.name, sp.category FROM sys_roles_permissions srp
      LEFT JOIN sys_permission sp on sp.id = srp.permission_id and sp.is_del = false
      WHERE srp.role_id = #{roleId}
    </select>

    <select id="byRoleIds" resultType="com.sccbv.system.permission.Permission">
      SELECT sp.id, sp.code, sp.name, sp.category FROM sys_roles_permissions srp
      LEFT JOIN sys_permission sp on sp.id = srp.permission_id and sp.is_del = false
      WHERE srp.role_id IN
      <foreach item="roleId" index="index" collection="roleIds" open="(" separator="," close=")">
          #{roleId}
      </foreach>
    </select>

</mapper>