<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sccbv.system.role.RoleMapper">

    <select id="permissions" parameterType="long" resultType="com.sccbv.system.permission.Permission">
        SELECT sp.code, sp.name, sp.pname FROM sys_role_permissions srp
        LEFT JOIN sys_permission sp ON sp.id = srp.permission_id
        WHERE srp.role_id = #{roleId}
    </select>

</mapper>