
/** 布局 **/
.col-3 {
    display: inline-block;
    width: 33.33%;
}

.col-6 {
    display: inline-block;
    width: 49.5%;
}

.col-12 {
    display: block;
}

.content-right {
    text-align: right;
    align-items: right;
    justify-content: right;
}

/** 表单 **/
.form-horizontal > .form-item {
    display: inline-block;
}

.form-item input, select {
    width: 170px;
}

.super-form-page .form-item {
    margin-bottom: 10px;
    width: 50%;
    float: left;
}

.super-form-page .form-item > label {
    min-width: 120px;
    display: inline-block;
}

.super-form-page > .super-form-toolbar {
    clear: both;
    padding-top: 15px;
    align-items: center;
    text-align: center;
}

/** 表格 **/
.super-list-title-wrapper {
    display: block;
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding: 7px 0px 16px;
}
.super-list-title-wrapper > h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5;
}
.super-list-toolbar {
    padding: 5px 0 15px;
    width: 100%;
}
.index-l {
    width: 100%;
    overflow: auto;
}
