<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property scope="context" name="COLORIZER_COLORS" value="boldred@,yellow@,green@,green@,cyan@" />
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %colorize(%-5level) --- [%thread] %cyan(%40logger{40}) : %msg %n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>